{% extends "base.html" %}

{% block content %}
    <p><a href="javascript:history.back(1)" class="btn btn-link">← Back</a></p>
    <h2>{{ title }}</h2>
    {% for paragraph in paragraphs %}
        <p>{{ paragraph }}</p>
    {% endfor %}
    <div class="row">
        <div class="btn-group" style="width: fit-content;">
            <a href={{post_link}} class="btn btn-primary" aria-current="page">View Original Post</a>
            <a href="{{ comment_link }}" class="btn btn-secondary">View Original Comment</a>
          </div>
{% endblock %}
